body{
    background: url(./image/nenlogin2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.dangnhap{
    font-size: 45px;
    margin-bottom: 20px;
    color: aliceblue;
}
.dangki{
    margin-bottom: 20px;
    margin-left: 10px;
    color: rgb(235, 146, 30);
}
.text{
    text-align: left;
    margin-left: 45px;
    margin-bottom: 10px;
    color: aliceblue;
}
#khung_dangnhap{
    text-align: center;
    color: rgb(20, 20, 20);
    max-width: 400px;
    height: 300px;
    margin: 0px auto;
    margin-top: 150px;
}
#khung_dangki{
    text-align: center;
    color: rgb(20, 20, 20);
    max-width: 400px;
    margin: 0px auto;
    margin-top: 40px;
}
.form-control {
    position: relative;
}
ion-icon{
    position: absolute;
    left: 570px;
    top: 233px;
}
.icon2 {
    position: absolute;
    top: 278px;
}
input{
    padding: 10px 100px;
    padding-left: 45px;
    border-radius: 30px;
}
label{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 10px;
    float: left;
    color: aliceblue;
}
button{
    background-color: aqua;
    width: calc(80% - 55px);
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px 50px;
    color: rgb(114, 116, 117);
    margin-bottom: 10px;
}
/* đăng kí */
.thongbao{
    color: red;
    font-size: 15px;
}

#back_dangnhap{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}